<div class="inner-section">
  <div class="grid-container-div" id="gridContainer">
    <div class="search-bar">
      <form>
        <input
          type="text"
          placeholder="Search User"
          id="search"
          name="search"
        />
        <button type="submit" id="searchButton">&#128270;</button>
      </form>
      <select name="sort" id="sortSelect">
        <option value="0">Accending</option>
        <option value="1">descending</option>
      </select>
      <a href="/create-user" class="adduser">+ Create a User</a>
    </div>
    <div class="grid-header">
      <div class="flex-item-1 flex-item">Sl</div>
      <div class="flex-item-2 flex-item">User ID</div>
      <div class="flex-item-3 flex-item">Name</div>
      <div class="flex-item-4 flex-item">Email</div>
      <div class="flex-item-5 flex-item">Actions</div>
    </div>
    <% locals.user.forEach((useri, index) => { %>
    <div class="grid-item">
      <form id="abc" action="/admin/editUser?id=<%=useri._id%>" method="POST">
        <div class="flex-item-1 flex-item"><%= index + 1 %></div>
        <div class="flex-item-2 flex-item"><%= useri._id %></div>
        <div class="flex-item-3 flex-item"><%= useri.name %></div>
        <div class="flex-item-4 flex-item"><%= useri.email %>
          <!-- <a href="/admin/home/editUser?id=<%=useri._id%>"><button id="button1">SUBMIT</button></a> -->
        </div>
        <div class="flex-item-5 flex-item">
          <div class="edit-svg">
            <a href="#" id="editUser"
              ><img height="20" width="20" src="/icons/edit.png"
            /></a>
          </div>
          <!-- <input type="submit"> -->
          <p id="userID" style="display: none;"><%=useri._id%></p>
          <div class="delete-svg">
            <a href="/admin/deleteUser?id=<%=useri._id%>"
              ><img height="25" width="25" src="/icons/delete2.png"
            /></a>
          </div>
          <div class="block-svg">
            <a href="/block"
              ><img height="20" width="20" src="/icons/block.png"
            /></a>
          </div>
        </div>
      </form>
    </div>
    <% }) %> <%if(locals.error){%>
    <p class="error"><%=locals.error%></p>
    <%}%>
  </div>
</div>
